h1{
    padding-left: 5rem;
    padding-right: 5rem;
    size: 35rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    padding-left: 5rem;
    padding-right: 5rem;
    size: 30rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    padding-left: 5rem;
    padding-right: 5rem;
    size: 25rem;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    padding-left: 5rem;
    padding-right: 5rem;
    size: 20rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-left: 5rem;
    padding-right: 5rem;
    size: 18rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding-left: 7rem;
    padding-right: 5rem;
    size: 18rem;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    size: 18rem;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    margin:auto
}

figcaption{
  color: #383838;
  size: 12rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  font-style: italic;
  text-align: center;
}

footer{
    height: 5rem;
    padding-left: 2rem;
    background-color: #333;
}

footer a{
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
video{
    align-items: center;
}

table { 
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;
    font-weight: bold;
    border: black 1px solid;
}
td p{
    padding:0;
}
